{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block content %}

{% include 'include/alert_error_message.html' %}

<div class="container box_inserItem">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" name="unidade_submit">
            Salvar</button>
    </form>
</div>

<br>

<div class="container box_inserItem">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form_dep.as_p }}
        <button type="submit" class="btn btn-success" name="departamento_submit">
            Salvar</button>
    </form>
</div>

<br>

<div class="container box_inserItem">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form_divis.as_p }}
        <button type="submit" class="btn btn-success" name="divisao_submit">
            Salvar</button>
    </form>
</div>

{% endblock content %}