{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME | UNIDADE{% endblock %}</title>

{% block css %}
    <link rel="stylesheet" href="{% static 'css/buttons/btn_link_menu.css' %}">
{% endblock css %}

{% block content %}

<div class="container mb-4 bg-secondary rounded 
w-50 d-flex justify-content-center">

    <div class="p-3 row gap-2">
        
        <div class="col-md-auto">
            <button  onclick="reg_unidade()" >
                <span class="box">
                    Unidade
                </span>
            </button>
        </div>

            <div class="col-md-auto">
                <button  onclick="reg_departmento()" >
                    <span class="box">
                        Departmento
                    </span>
                </button>
            </div>

                <div class="col-md-auto">
                    <button onclick="reg_divisao()" >
                        <span class="box">
                            Divisão
                        </span>
                    </button>
                </div>

    </div>

</div>



<div class="container w-50" id="add_unidade">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form.unidade.label_tag }}
        {{ form.unidade }}
        <span class="msgFormUnid">
            {% if form.errors %}
                {{ form.unidade.errors }}
            {% endif %}
        </span>
        <button type="submit" class="btn btn-success mt-2" 
        name="unidade_submit" id="btn_unidade">
            Salvar</button>
    </form>
</div>

<div class="container w-50" id="add_departamento">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form_dep.nome.label_tag }}
            {{ form_dep.nome }}
            {{ form_dep.unidade.label_tag }}
        {{ form_dep.unidade }}
        <span class="msgFormUnid">
            {% if form_dep.errors %}
                {{ form_dep.errors }}
            {% endif %}
        </span>
        <button type="submit" class="btn btn-success mt-2" 
        name="departamento_submit" id="btn_departamento">
            Salvar</button>
    </form>
</div>

<div class="container w-50" id="add_divisao">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form_divis.nome.label_tag }}
            {{ form_divis.nome }}
            {{ form_divis.departamento.label_tag }}
        {{ form_divis.departamento }}
        <span class="msgFormUnid">
            {% if form_divis.errors %}
                {{ form_divis.nome.errors }}
                {{ form_divis.departamento.errors }}
            {% endif %}
        </span>
        <button type="submit" class="btn btn-success mt-2" 
        name="divisao_submit" id="btn_divisao">
            Salvar</button>
    </form>
</div>

<br>
{% endblock content %}