{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME | CONTRATO{% endblock %}</title>

{% block css %}
    <link rel="stylesheet" href="{% static 'css/others/fundo_form.css' %}">
{% endblock css %}
    
{% block content %}

<div class="container box_inserItem fundo_papel" id="fundo_adjust">
    <form action="{% url 'add_contr' %}" method="post" >
        <h4>Adicionar contrato</h4>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success mt-4 btn_center_form">
            Enviar</button>
    </form>
</div>
<br>

{% endblock content %}