{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block content %}

{% include 'include/alert_error_message.html' %}

<h5 class="d-flex justify-content-center bg-white" style="width: 730px; padding: 10px; border-radius: 5px; margin-left: 31%;">Adicionar unidade</h5>

<div class="container box_inserItem">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success" style="margin-left: 40%; width: 90px;" name="unidade_submit">Salvar</button>
    </form>
</div>

<br>
<br>

<h5 class="d-flex justify-content-center bg-white" style="width: 730px; padding: 10px; border-radius: 5px; margin-left: 31%;">Adicionar departamento</h5>
<div class="container box_inserItem">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form_dep.as_p }}
        <button type="submit" class="btn btn-success" style="margin-left: 40%; width: 90px;" name="departamento_submit">Salvar</button>
    </form>
</div>

<br>
<br>

<h5 class="d-flex justify-content-center bg-white" style="width: 730px; padding: 10px; border-radius: 5px; margin-left: 31%;">Adicionar divisão</h5>
<div class="container box_inserItem">
    <form action="{% url 'add_unidade' %}" method="post">
        {% csrf_token %}
        {{ form_divis.as_p }}
        <button type="submit" class="btn btn-success" style="margin-left: 40%; width: 90px;" name="divisao_submit">Salvar</button>
    </form>
</div>

<br>
<br>
<br>
<br>

{% endblock content %}