{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME | CONTRATO{% endblock %}</title>

{% block css %}
    <link rel="stylesheet" href="{% static 'css/others/fundo_form.css' %}">
{% endblock css %}
    
{% block content %}

<div class="container box_inserItem fundo_papel" id="fundo_adjust">
    <form action="{% url 'add_contr' %}" method="post" >

        <p class="border border-2 d-flex justify-content-center rounded bg-white p-2 fs-5">
            (<span class="text-danger me-1 ms-1">*</span>)
            campos obrigatorios
        </p>
            
        <h4>Adicionar contrato</h4>
        {% csrf_token %}

            {{ form.nome_contrato.label_tag }}
            <span class="text-danger">*</span>
            {{ form.nome_contrato }}

                {{ form.descricao_contr.label_tag }}
                <span class="text-danger">*</span>
                {{ form.descricao_contr }}

            {{ form.num_contrato.label_tag }}
            <span class="text-danger">*</span>
            {{ form.num_contrato }}

        <button type="submit" class="btn btn-success mt-4 btn_center_form">
            Enviar</button>
    </form>
</div>
<br>

{% endblock content %}