{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'include/menu_estoque.html' %}

<div class="container rounded mt-4 bg-white">
    <div class="p-2">
        <table class="table table-striped table-hover">
            <thead>
                <tr class="text-primary text-center">
                    <td>Modelo</td>
                    <td>Total</td>
                </tr>
            </thead>

            <tbody>
                {% for i in objs %}
                <tr>
                    <td>{{ i.modelo }}</td>
                    <td class="text-center">{{ i.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}