{% extends 'base.html' %}

{% block content %}

<div class="bg-white p-4 rounded">
    <form method="get" id="filtro-form">
        <div class="form-group">
            <label for="id_unidade">Unidade</label>
            {{ form.unidade }}
        </div>
        <div class="form-group">
            <label for="id_departamento">Departamento</label>
            {{ form.departamento }}
        </div>
        <div class="form-group">
            <label for="id_divisao">Divisão</label>
            {{ form.divisao }}
        </div>
        <div class="form-group">
            <label for="n_processo">Número do processo</label>
            {{ form.n_processo }}
        </div>
        <br>
        <button type="submit" id="enviar" onclick="enviar()">Enviar</button>
    </form>
</div>
<br>

<script>
    document.getElementById('id_unidade').addEventListener('change', function() {
        document.getElementById('filtro-form').submit();
    });

    document.getElementById('id_departamento').addEventListener('change', function() {
        document.getElementById('filtro-form').submit();
    });

    // function enviar() {
    //     document.getElementById('id_unidade').addEventListener('change', function() {
    //         document.getElementById('filtro-form').submit();
    //     });
    //     document.getElementById('id_departamento').addEventListener('change', function() {
    //         document.getElementById('filtro-form').submit();
    //     });
    // }

    // document.getElementById('enviar').addEventListener('click', function(event) {
    //     var nProcesso = document.getElementById('id_n_processo').value;
    //     if (!nProcesso) {
    //         alert('Preencha o campo número de processo!');
    //         event.preventDefault();
    //     }
    // });
</script>

{% endblock content %}
