{% extends 'base.html' %}

<title>{% block title %}HOME | SAIDA{% endblock %}</title>

{% block content %}
<div class="bg-white p-4 rounded">
    <form method="get" id="filtro-form">
        <div class="form-group">
            <label for="id_unidade">Unidade</label>
            {{ form.unidade }}
        </div>
        <div class="form-group">
            <label for="id_departamento">Departamento</label>
            {{ form.departamento }}
        </div>
        <div class="form-group">
            <label for="id_divisao">Divisão (opcional)</label>
            {{ form.divisao }}
        </div>
        <div class="form-group">
            <label for="id_n_processo">Número do Processo</label>
            {{ form.n_processo }}
        </div>
        <br>
        <button type="submit" id="enviar">Enviar</button>
    </form>
</div>
<br>

<script>
    document.getElementById('id_unidade').addEventListener('change', function() {
        document.getElementById('filtro-form').submit();
    });

    document.getElementById('id_departamento').addEventListener('change', function() {
        document.getElementById('filtro-form').submit();
    });
</script>
{% endblock content %}