{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME | ADD-ITEM{% endblock %}</title>

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/css_pages/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons/add_form_btn.css' %}">
    <link rel="stylesheet" href="{% static 'css/others/fundo_form.css' %}">
{% endblock css %}

{% block content %}
<div class="container-fluid p-4 rounded fundo_papel" id="fundo_adjust">
    <form action="{% url 'entrada_material' %}" method="post">

        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                <p class="border border-2 d-flex justify-content-center
                rounded bg-white p-2 fs-5">
                    (<span class="text-danger me-1 ms-1">*</span>)
                    campos obrigatorios
                </p>
            </div>
        </div>

            <div class="row ms-4">
                {% csrf_token %}
            
                <div class="col-md-6">
                    {{ form.contrato.label_tag }}
                    {{ form.contrato }}
                </div>

                    <div class="col-md-8">
                        {{ form.descricao.label_tag }}
                        {{ form.descricao }}
                    </div>
            </div>
        <hr>
        {% if formset.non_form_errors %}
            <div class="alert alert-danger mt-2">
            {{ formset.non_form_errors }}
            </div>
        {% endif %}
    
        <div class="col-md-auto">

            <div class="row container" id="box_formset">
                {{ formset.management_form }}

                {{ form.non_field_errors }}

                {% for form in formset %}
                    <div class="col-md-auto me-4 inline_form" 
                    id="inline_formset">

                        {{ form.material_obj }}

                        {{ form.marca.label_tag }}
                        <span class="text-danger">*</span>
                        {{ form.marca }}

                            {{ form.modelo.label_tag }}
                            <span class="text-danger">*</span>
                            {{ form.modelo }}

                                    {{ form.n_serie.label_tag }}
                                    <span class="text-danger">*</span>
                                    {{ form.n_serie }}
                    
                                {{ form.patrimonio.label_tag }}
                                {{ form.patrimonio }}
                        
                            {{ form.observacao.label_tag }}
                            {{ form.observacao }}
                        
                        {{ form.garantia.label_tag }}
                        <span class="text-danger">*</span>
                        {{ form.garantia }}

                        <hr>
                    </div>
                {% endfor %}
                <br>
            </div>
                 <div class="text-center mt-5">
                    <button type="submit" style="width: 110px;" 
                    class="btn btn-success">
                        Salvar
                    </button>
                </div>
        </div>
    </form>
</div>
<br>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery_3.7.1.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
        $('#box_formset .inline_form').formset({
            prefix: '{{ formset.prefix }}',
            deleteText: '',
            addText: '<button class="cssbuttons-io-button"><svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path></svg><span></span></button>',
            added: function(row) {
                $(row).css({
                    'border': '1px solid #ddd',
                    'padding': '10px',
                    'margin-bottom': '10px',
                    'border-radius': '5px',
                    'background-color': '#FFFFFF',
                    'row-gap': '10px',
                });
            }
        });
    });
    </script>
{% endblock js %}