{% extends 'base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_form_btn.css' %}">
    <link rel="stylesheet" href="{% static 'css/fundo_form.css' %}">
{% endblock css %}

{% block content %}
<div class="container p-4 rounded fundo_papel" id="fundo_adjust">
    <form action="{% url 'entrada_material' %}" method="post">

        {% csrf_token %}
        {{ form.as_p }}
        <hr>
    
        <div class="col-md-auto">
            <div class="row">
                {{ formset.management_form }}
                {% for form in formset %}
                    <div class="col-md-auto inline_form ms-5" 
                    id="inline_formset">
                        {{ form.as_p }}
                        <hr>
                    </div>
                {% endfor %}
                <br>
                <div class="col-12 text-center mt-5">
                    <button type="submit" style="width: 110px;" 
                    class="btn btn-success">
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>
<br>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery_3.7.1.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
        $('.inline_form').formset({
            prefix: 'tipo_obj',
            deleteText: '',
            addText: '<button class="cssbuttons-io-button"><svg height="24"width="24"viewBox="0 0 24 24"xmlns="http://www.w3.org/2000/svg"><path d="M0 0h24v24H0z" fill="none"></path><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z" fill="currentColor"></path></svg><span></span></button>',
            added: function(row) {
                $(row).css({
                    'border': '1px solid #ddd',
                    'padding': '10px',
                    'margin-bottom': '10px',
                    'border-radius': '5px',
                    'background-color': '#FFFFFF'
                });
            }
        });
    });
    </script>
{% endblock js %}