{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/estatisticas.css' %}">
{% endblock css %}

{% block content %}

<div class="bg-white p-3 rounded">
  <div class="col">
    <div class="col-md-auto">
      <button onclick="all_func()" class="btn btn-secondary mb-3">
        Items 
      </button>
    </div>
  </div>

  <!-- <div class="container">
    <div class="row">
      <div class="col" id="caixa_html">
      </div>
      <div class="col" id="caixa_html2">
      </div>
      <div class="col">
        Column
      </div>
    </div>
  </div> -->

  <div>
    <ol id="caixa">
    </ol>
  </div>

</div>

<br>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/async_response.js' %}"></script>
{% endblock js %}