{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME |  ESTATISTICAS{% endblock %}</title>

{% block css %}
    <link rel="stylesheet" href="{% static 'css/estatisticas.css' %}">
    <link rel="stylesheet" href="{% static 'css/add_btn_esta.css' %}">
{% endblock css %}

{% block content %}

<div class="rounded bg-secondary p-4">
  <div class="row rounded d-flex justify-content-center">
    
    <div class="col-md-auto">
      <button id="btn_items"
      onclick="items_info()" class="button_esta">
        Items 
      </button>
    </div>

      <div class="col-md-auto">
        <button id="btn_mate" 
        onclick="materiais_info()" class="button_esta">
          Quantidade Items
        </button>
      </div>

    <div class="col-md-auto">
      <button class="button_esta">
        Exibir Gráficos
      </button>
    </div>
  </div>
</div>

<br>

<div>
  <div id="caixa"></div>
</div>

<br>

<div>
  <div id="caixa_two"></div>
</div>

<br>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/async_response.js' %}"></script>
{% endblock js %}