{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container rounded mt-2 bg-white">
    <div class="p-2">
        <table class="table table-striped table-hover">
            <thead class="text-primary">
                <tr>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <td>Unidade</td>
                    <td>Departamento</td>
                    <td>Divisão</td>
                    <td>Editar(saida)</td>
                </tr>
            </thead>

            <tbody>
                {% for item in objs %}
                    <tr>
                        <td>{{ item.marca }}</td>
                        <td>{{ item.modelo }}</td>
                        <td>{{ item.saida_obj.unidade.unidade }}</td>
                        <td>{{ item.saida_obj.departamento.nome }}</td>
                        <td>
                            {% if item.saida_obj.divisao_field.nome %}
                                {{ item.saida_obj.divisao_field.nome }}
                            {% else %}
                                Não atribuido
                            {% endif %}
                        </td>
                        <td style="text-align: center;">
                            <a href="{% url 'saida_item' item.id %}">
                                <i class="fa-solid fa-pen-to-square fs-4 text-dark"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <div class="d-flex justify-content-center">
                {% include 'include/pagination.html' %}
            </div>
        </table>
    </div>
</div>
<br>

{% endblock content %}