{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME | HISTORICO{% endblock %}</title>

{% block content %}

<div class="container rounded mt-3 bg-white p-4">
    <table class="table table-bordered bg-white">
        <thead>
            <tr>
                <td>Usuario</td>
                <td>Ação Realizada</td>
                <td>Modelo do item</td>
                <td>Data</td>
            </tr>
        </thead>

        <tbody>
            {% for obj in objs %}
                <tr>
                    <td>{{ obj.nome_user }}</td>
                    <td>{{ obj.acao_realizada }}</td>
                    {% if obj.modelo_item %}
                        <td>{{ obj.modelo_item }}</td>
                    {% else %}
                        <td>Não capturado</td>
                    {% endif %}
                    <td>{{ obj.data }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        {% include 'include/pagination.html' %}
    </div>
</div>

{% endblock content %}