{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME | ESTOQUE{% endblock %}</title>

{% block css %}
    <link rel="stylesheet" href="{% static 'css/add_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/estoque_btn.css' %}">
{% endblock css %}

{% block content %}

{% include 'include/menu_estoque.html' %}

<div class="container rounded mt-4 bg-white">
    <div class="p-2">
        <p class="fs-5 d-flex justify-content-center mb-2">
            TODOS OS ITEMS</p>
        <table class="table table-bordered border-primary">
            <thead>
                <tr>
                    <td>Marca</td>
                    <td>Modelo</td>
                    <!-- <td>Editar</td> -->
                    <!-- <td>Saida</td> -->
                     <td>Número de série</td>
                    <td>Saida (status)</td>
                </tr>
            </thead>
            <tbody>
            {% for obj in objs %}
                <tr>
                    <td>{{ obj.marca }}</td>
                    <td>{{ obj.modelo }}</td>
                    <td>{{ obj.patrimonio }}</td>
                    <!-- <td>
                        <a href="{% url 'editar_items' obj.id %}" >
                            Editar
                            <i class="bi bi-pencil-square"></i>
                        </a>
                         <a href="{% url 'excluir_item' obj.id %}" class="ms-2" onclick="return confirm('Tem certeza que deseja excluir este item?');">
                                Excluir
                                <i class="bi bi-file-earmark-x"></i>
                        </a>
                    </td> -->
                    <!-- <td>
                        <a href="{% url 'saida_item' obj.id %}">
                            Saida
                            <i class="bi bi-arrow-right-square"></i>
                        </a>
                    </td> -->
                    <td style="text-align: center;">
                        {% if obj.saida_obj %}
                                <img src="{% static 'img/icon_check_ok.png' %}" 
                                class="img img-fluid" style="max-width: 2rem;">
                            {% else %}
                                <img src="{% static 'img/icon_not_ok.png' %}" 
                                class="img img-fluid" style="max-width: 2rem;">
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
            <div class="d-flex justify-content-center">
                {% include 'include/pagination.html' %}
            </div>
    </div>
</div>
<br>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/listar.js' %}"></script>
{% endblock js %}
    


