{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container bg-white rounded w-50 mt-4">
    <div class="p-3">
        <h5 class="d-flex justify-content-center">Items Registrados</h5>
            <div>
                <h5>( Filtrar por unidade )</h5>
                <button class="btn btn-warning">IAPEN-RB</button>
                <button class="btn btn-warning ms-1">IAPEN-CZ</button>
                <button class="btn btn-warning ms-1">IAPEN-TK</button>
            </div>
        <ul class="mt-4 border border-1 border-black">
           
        </ul>
    </div>
</div> 

{% endblock content %}


