{% extends 'base.html' %}
{% load static %}

{% block content %}

{% include 'include/alert_error_message.html' %}

<div class="bg-white rounded" style="width: 900px; margin-left: 27%;">
    <div class="container p-3">
        <a href="{% url 'saida_mater' %}">
            <button class="btn btn-success" style="width: 120px; margin-left: 80%;">
                    Adicionar
                    <i class="bi bi-file-earmark-plus-fill"></i>
            </button>
        </a>
    </div>
</div>

<div class="rounded mt-4 bg-white" style="width: 900px; margin-left: 27%;">
    <div class="container p-5">
        <table class="table table-striped table-hover">
            <tbody>
                {% for obj in objs %}
                    <tr>
                        <td>{{ obj.marca }} </td>  
                        <td>{{ obj.modelo }} </td>
                        <td>{{ obj.quantidade }}</td> 
                        <td>
                            <a href="{% url 'editar_items' obj.id %}" class="btn btn-warning">
                                Editar
                                <i class="bi bi-pencil-square"></i>
                            </a>
                            <a href="{% url 'excluir_item' obj.id %}" class="ms-2 btn btn-danger" onclick="return confirm('Tem certeza que deseja excluir este item?');">
                                Excluir
                                <i class="bi bi-file-earmark-x"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
            <div class="d-flex justify-content-center">
                {% include 'include/pagination.html' %}
            </div>
    </div>
</div>

<br>
<br>

{% endblock content %}


