{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/buttons/add_button.css' %}">
    <link rel="stylesheet" href="{% static 'css/buttons/estoque_btn.css' %}">
{% endblock css %}

{% block content %}
<div class="bg-white rounded container">
    <div class="p-3 row gap-1">
        <div class="col-auto">
            <a href="{% url 'itens_disponiveis' %}" 
            style="text-decoration: none; color: inherit;">
                <button class="estoque_btn">
                    <span class="texto">Estoque</span>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                             width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="15" y2="12" class="text-white"></line>
                            <polyline points="15 6 20 12 15 18" class="text-white"></polyline>
                        </svg>
                    </span>
                </button>
            </a>
        </div>
        <div class="col-auto">
            <a href="{% url 'items_saida' %}" 
            style="text-decoration: none; color: inherit;">
                <button class="saida_item_btn">
                    <span class="texto">Saidas</span>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                             width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="15" y2="12" class="text-white"></line>
                            <polyline points="15 6 20 12 15 18" class="text-white"></polyline>
                        </svg>
                    </span>
                </button>
            </a>
        </div>

        <div class="col-auto">
            <a href="{% url 'listar_all' %}" 
            style="text-decoration: none; color: inherit;">
                <button class="todos_itens_btn">
                    <span class="texto">Todos</span>
                    <span class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                             width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="5" y1="12" x2="15" y2="12" class="text-white"></line>
                            <polyline points="15 6 20 12 15 18" class="text-white"></polyline>
                        </svg>
                    </span>
                </button>
            </a>
        </div>

        <div class="col-auto">
            <a href="{% url 'entrada_material' %}" 
            style="text-decoration: none; color: inherit;">
                <button type="button" class="button">
                    <span class="button__text">Adicionar</span>
                    <span class="button__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" 
                            width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" 
                            stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                            <line y2="19" y1="5" x2="12" x1="12"></line><line y2="12" y1="12" x2="19" x1="5"></line>
                        </svg>
                    </span>
                </button>
            </a>
        </div>
  
        <div class="col-auto">
            <a href="{% url 'buscar_dados' %}" 
            style="text-decoration: none; color: inherit;">
            <button type="button" class="button_search">
                <span class="button_search__text">Buscar</span>
                <span class="button_search__icon">
                <svg xmlns="http://www.w3.org/2000/svg" 
                    width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" 
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="svg">
                    <circle cx="11" cy="11" r="8"></circle>
                    <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                </svg>
                </span>
            </button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}