{% extends 'base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
{% endblock css %}

{% block content %}

<div class="container bg-white p-4 rounded" style="width: 900px;">
    <form action="{% url 'saida_mater' %}" method="post">

        <h3>Cabeçalho</h3>
        {% csrf_token %}
        {{ form.as_p }}
        <hr>
    
        <div>
            {{ formset.management_form }}
            {% for form in formset %}
                <div class="inline_form">
                    <h3>( Adicionar Item )</h3>
                    {{ form.as_p }}
                    <hr>
                </div>
            {% endfor %}
            <br>
            <button type="submit" style="margin-left: 42%; width: 110px;" class="btn btn-success">Salvar</button>
        </div>
    </form>
</div>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/jquery_3.7.1.js' %}"></script>
    <script src="{% static 'js/jquery.formset.js' %}"></script>
    <script type="text/javascript">
        $(function() {
            $('.inline_form').formset({
                prefix: '{{ form.prefix }}',
                deleteText: 'Remover',
                addText: 'Adicionar Form',
            });
        })
    </script>
{% endblock js %}