#inline_formset {
    border: 1px solid #ddd; 
    padding: 10px; 
    margin-bottom: 10px; 
    border-radius: 5px; 
    background-color: #fff;
}

.link_menu {
  display: flex;
  gap: 10px;
}

.btn_link {
    border-radius: 10px;
    padding: 5px;
    width: 150px;
}

.btn_link:hover {
    border-color: cyan;
}

