html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    height: 100%;
    background: linear-gradient(135deg, #3A7BD5, #B0BEC5, #212121);
    background-attachment: fixed; /* Mantém o gradiente fixo ao rolar */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.navbar_main {
    position: top; 
    top: 0; background-color: #333; /* Cor de fundo da barra */ 
    color: white; /* Cor do texto */ 
    padding: 10px; z-index: 100;
}

footer {
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(5px);
    padding: 10px;
}

footer span {
    color: white;
}

footer span img {
    width: 20px;
    height: 20px;
}

.dell_efect_a {
    text-decoration: none;
    color: #000000;
}

.box_home {
    background-color: white;
    border: solid 3px black;
}

.box_home:hover {
    border-color: aqua;
}

.box_inserItem {
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
}

.btn_center_form {
    margin-left: 41%;
    width: 120px;
}

#img_home {
    max-width: 8rem;
}

#grade_home_inside {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

#img_footer {
    width: 20px;
    height: 20px;
}

#footer_base img {
    width: 25px;
}

#box_words {
    display: none;
}
/* FROM JSON RESPONSE */

.caixa {
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-top: 5px;
    width: 430px;
}

/* Add unidade, departamento, divisão */
.none_efect {
    text-decoration: none;
    color: black;
}

.msgFormUnid {
    color: red;
    font-size: 17px;
}

#user_cont2 {
    justify-content: right;
}

/* Styles from filtro referência */
#caixa_filtro {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 480px;
    text-align: center;
}

#box_formset {
    margin-left: 5rem;
}

#saidas_btn_menu {
    position: relative;
    padding: 10px;
    border: none;
    background-color: transparent;
    outline: none;
}

#saidas_btn_menu::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px;
    background: blue;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

#saidas_btn_menu:hover::after,
#saidas_btn_menu:focus::after {
    transform: scaleX(1);
}

#saidas_btn_menu span {
    font-weight: 600;
}

@media screen and (max-width: 770px) {
    #box_formset {
        margin-left: 5%;
    }
}















