body {
    background: linear-gradient(to right, #00008B, #000000);
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
}

footer {
    backdrop-filter: blur(5px);
    padding: 10px;
}

footer .text-white {
    margin-left: 36%;
}

footer span img {
    width: 20px;
    height: 20px;
}

.box_home {
    background-color: white;
    border: solid 3px black;
}

.box_home:hover {
    border-color: aqua;
}

.box_inserItem {
    background-color: white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 20px;
}

.btn_center_form {
    margin-left: 41%;
    width: 120px;
}

#img_home {
    max-width: 8rem;
}

#grade_home_inside {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

#img_footer {
    width: 20px;
    height: 20px;
}

#box_words {
    display: none;
}














