th {
    font-weight: normal;
}

/* ------------------------------ */
.saida_item_btn {
    width: 155px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: red;
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: red;
   }
   
   .saida_item_btn, .saida_item_btn span {
    transition: 200ms;
   }
   
   .saida_item_btn .texto {
    transform: translateX(35px);
    font-weight: bold;
    color: white;
   }
   
   .saida_item_btn .icon {
    position: absolute;
    border-left: 1px solid #d81e1e;
    transform: translateX(110px);
    height: 37px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d81e1e;
   }
   
   .saida_item_btn svg {
    width: 23px;
    fill: #eee;
   }
   
   .saida_item_btn:hover {
    background: #d81e1e;
   }
   
   .saida_item_btn:hover .texto {
    color: transparent;
   }

   .saida_item_btn:active {
    background-color: #d81e1e;
   }
   
   .saida_item_btn:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .saida_item_btn:focus {
    outline: none;
   }
   
   .saida_item_btn:active .icon svg {
    transform: scale(0.8);
   }

/* ------------------------------ */
.estoque_btn {
    width: 155px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgb(0, 30, 255);
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: rgb(0, 30, 255);
   }
   
   .estoque_btn, .estoque_btn span {
    transition: 200ms;
   }
   
   .estoque_btn .texto {
    transform: translateX(35px);
    font-weight: bold;
    color: white;
   }
   
   .estoque_btn .icon {
    position: absolute;
    border-left: 1px solid rgb(17, 17, 215);
    transform: translateX(110px);
    height: 37px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(17, 17, 215);
   }
   
   .estoque_btn svg {
    width: 23px;
    fill: #eee;
   }
   
   .estoque_btn:hover {
    background: rgb(17, 17, 215);
   }
   
   .estoque_btn:hover .texto {
    color: transparent;
   }
   
   .estoque_btn:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .estoque_btn:focus {
    outline: none;
   }
   
   .estoque_btn:active {
    background-color: rgb(17, 17, 215);
   }

   .estoque_btn:active .icon svg {
    transform: scale(0.8);
   }

/* -------------------------- */

   .todos_itens_btn {
    width: 155px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    background: rgb(219, 208, 4);
    border: none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
    background: rgb(219, 208, 4);
   }
   
   .todos_itens_btn, .todos_itens_btn span {
    transition: 200ms;
   }
   
   .todos_itens_btn .texto {
    transform: translateX(35px);
    font-weight: bold;
    color: white;
   }
   
   .todos_itens_btn .icon {
    position: absolute;
    border-left: 1px solid rgb(194, 186, 39);
    transform: translateX(110px);
    height: 37px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(194, 186, 39);
   }
   
   .todos_itens_btn svg {
    width: 23px;
    fill: #eee;
   }
   
   .todos_itens_btn:hover {
    background: rgb(194, 186, 39);
   }
   
   .todos_itens_btn:hover .texto {
    color: transparent;
   }
   
   .todos_itens_btn:hover .icon {
    width: 150px;
    border-left: none;
    transform: translateX(0);
   }
   
   .todos_itens_btn:focus {
    outline: none;
   }
   
   .todos_itens_btn:active .icon svg {
    transform: scale(0.8);
   }


   /* ------------------------------ */
   .button_search {
    position: relative;
    width: 155px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid rgb(139, 139, 139);
    background-color: rgb(139, 139, 139);
  }
  
  .button_search, .button_search__icon, .button_search__text {
    transition: all 0.3s;
  }
  
  .button_search .button_search__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button_search .button_search__icon {
    position: absolute;
    transform: translateX(112px);
    height: 100%;
    width: 37px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button_search .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button_search:hover {
    background: silver;
  }
  
  .button_search:hover .button_search__text {
    color: transparent;
  }
  
  .button_search:hover .button_search__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button_search:active .button_search__icon {
    background-color: silver;
  }
  
  .button_search:active {
    border: 1px solid silver;
  }