th {
    font-weight: normal;
}

   /* ------------------------------ */
   .button_search {
    margin-top: 5px;
    position: relative;
    width: 155px;
    height: 38px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid rgb(139, 139, 139);
    background-color: rgb(139, 139, 139);
  }
  
  .button_search, .button_search__icon, .button_search__text {
    transition: all 0.3s;
  }
  
  .button_search .button_search__text {
    transform: translateX(30px);
    color: #fff;
    font-weight: 600;
  }
  
  .button_search .button_search__icon {
    position: absolute;
    transform: translateX(116px);
    height: 100%;
    width: 37px;
    background-color: silver;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* Chrome only */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .button_search .icon {
    transform: translateX(110px); 
    }
  }

  /* Firefox only */
  @-moz-document url-prefix() {
    .button_search .icon {
    transform: translateX(112px); 
    }
  }
  
  .button_search .svg {
    width: 30px;
    stroke: #fff;
  }
  
  .button_search:hover {
    background: silver;
  }
  
  .button_search:hover .button_search__text {
    color: transparent;
  }
  
  .button_search:hover .button_search__icon {
    width: 148px;
    transform: translateX(0);
  }
  
  .button_search:active .button_search__icon {
    background-color: silver;
  }
  
  .button_search:active {
    border: 1px solid silver;
  }