{% extends 'base.html' %}
{% load static %}

<title>{% block title %}HOME | METRICAS{% endblock %}</title>

{% block css %}
    <link rel="stylesheet" href="{% static 'css/buttons/btn_link_menu.css' %}">
{% endblock css %}

{% block content %}

<h5 class="text-white">Relatórios excell
    <i class="fa-regular fa-file-excel ms-1"></i>
</h5>
<div class="container mb-4 rounded
d-flex justify-content-center bg-secondary">

        <div class="p-3 row">

            <div class="col-md-auto">
                <form action="{% url 'metricas_page' %}" method="post">
                    {% csrf_token %}
                    <button id="enviarBtn" type="submit">
                        <span class="box">
                            Individual
                        </span>
                    </button>
                </form>
            </div>

            <div class="col-md-auto">
                <form action="{% url 'retornar_excell' %}" method="post">
                    {% csrf_token %}
                    <button id="enviarBtn" type="submit">
                        <span class="box">
                            Agrupado
                        </span>
                    </button>
                </form>
            </div>

        </div>
</div>

<h5 class="text-white">Gráfico de barras</h5>
    <div>
        <div id="container" style="height: 350px;">
        </div>
    </div>
<br>


{% endblock content %}

{% block js %}
    <script src="{% static 'js/relatorio.js' %}"></script>
    <script src="{% static 'js/bar_chart.js' %}"></script>
{% endblock js %}